
@{
    ViewData["Title"] = "Sobre";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Messagem"]</h2>

<p>Autor = @ViewData["Autor"]</p>
<p>@ViewData["Email"]</p>

<address>
    <strong> More Information: </strong> <a href="https://www.linkedin.com/in/pablo-pierre-04422ab6/">www.linkedin.com</a>
</address>

