
@{
    ViewData["Title"] = "Sobre";
}

<h1>@ViewData["Title"]</h1>
<h4>@ViewData["Messagem"]</h4>

<p>Autor = @ViewData["Autor"]</p>
<p>@ViewData["Email"]</p>

<address>
    <strong> Mais Informações: </strong> <a href="https://www.linkedin.com/in/pablo-pierre-04422ab6/"><i class="bi bi-linkedin mx-1"></i></a>
</address>

