@model Departamento

@{
	ViewData["Title"] = "Cadastrar Departamento";
}



<div class="container p-5 rounded-5">

	<div class="mb-5 text-center">
		<h1>@ViewData["Title"]</h1>
	</div>

	<form method="post" asp-controler="Departamentos" asp-action="Cadastrar">
		<!--Envia os dados do formulário para EmprestimosController-->

		<div class="mb-3">
			<label for="Nome" class="form-label">Nome</label>
			<input type="text" class="form-control" asp-for="Nome" id="Nome" placeholder="Digite o nome do departamento">
			<span class="text-danger" asp-validation-for="Nome"></span>
		</div>

		
		<div class="d-flex gap-5 mt-5">
			<button type="submit" class="btn btn-success w-50">Adicionar</button>
			<a class="btn btn-primary w-50" asp-controller="Departamentos" asp-action="Index">Voltar</a>

		</div>



	</form>
</div>
